extends layout 

block content
    h1 Books
    p
        a.button(href='books/new') Create New Book 
    table 
        thead 
            tr
                th Title 
                th Author
                th Genre
                th Year
        tbody 
            // render the book view for each book passed to the template from the database
            each book, i in books
                tr 
                    td 
                        a(href=`/books/${book.id}`) #{book.title}
                    td= book.author
                    td= book.genre
                    td= book.year