extends layout 

block content
  h1 Books
  p
    a.button(href='/books/new') Create New Book 
  form(action="/books" method="get")
    p
      label(for="search") Search
      input(name="search" type="text" id="search" value=search)
      button(type="submit") Search
      if search 
        a.button(href='/books') Show All Books
  table 
    thead 
      tr
        th Title 
        th Author
        th Genre
        th Year
    tbody 
      each book in books
        tr 
          td 
            a(href=`/books/${book.id}`) #{book.title}
          td= book.author
          td= book.genre
          td= book.year
  if pages > 1
    nav
      ul.pagination
        if page > 1
          li
            a(href=`/books?page=${page-1}&search=${search}`) Previous
        each i in [...Array(pages).keys()]
          li
            a(href=`/books?page=${i+1}&search=${search}`) #{i+1}
        if page < pages
          li
            a(href=`/books?page=${page+1}&search=${search}`) Next
